/* @media screen and (max-width:481px){ */


body, html{
 
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    background-image:url('images/test-background.jpg');

    }

    .number-background{
      padding: 0;
      margin: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      background-attachment: fixed;
      height: 100%;
      background-image:url('images/numbers-background.jpg');
    }

 /* p  element */
    p{
        overflow-wrap: break-word;
   }

   /* navbar  */
    .navbar{
        
        overflow: hidden;
        background-color: black;
        width: 100%;
        padding: 10px 10px;
        border-radius: 5px;
        text-align: center;
    }

    /* nav links  */
    .navbar li{
         
        display: inline-block;
        padding: 10px;
        color: white;
        transition: 0.60s ease-out;
    }

    .navbar li:hover{
        color: red;
    }

    /* nav a links  */
    .navbar a{
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }



    /* nav link left */
    .nav-left{
        float: left;
    }


    /* profile card css */
    .profile-card{
            max-width: 100%;
            margin: auto;
            padding: 10px;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
            background: linear-gradient(grey, black);
            border-radius:  5px;
            color: white;    
    }

    /* profile image circle  */
    .profile-image{
        border-radius: 50%;
        float: left;
    }
    
    /* container css  */
    .container{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        text-align: center;
        color:  black;
    }
  /* h1 css  */
    .container h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;

    }
    /* h3 container  */
    .container h3{
        color: white;
    }
    /* p container  */
    .container p{
        color:  white;
    }
   
    /* content position center  */
    .content-center{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        text-align: center;
        color:  white;
        
    }

    /* content position left  */
    .content-left{
        float: left;
        margin: 30px 12px 3px 4px;  
        color:  white;
        background-color: none;
        width: 100%;
    }
     /* h2 left css  */
    .content-left h2{
        text-align: center;
    }
     
    .content-left {
        padding: 0 2rem;
    }
   /* image position left css */
    .left-img{
        border: solid black;
        float: left;
        margin: 10px;
    }

    /* content right css */
    .content-right{
        float: right;
        margin: 30px 12px 3px 4px;
        color: white;
        background-color: none;
        width: 100%;
    }

    /* h2 right css */
    .content-right h2 {
        text-align: center;
    }

    /* css p right */
    .content-right p {
       padding:0 2rem;
    }

    /* img position in right using css */
    .right-img{
        border: solid black;
        float: right;
        margin: 10px;
    }
 /* li center class css  */
    .li-center{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        display:inline-flex;
    }

    /* h5 content center css */
    .content-center h5{
        display: flex;
    }

    /* input types text css  */

    input[type=text], select, textarea {
        width: 100%; 
        padding: 12px;  
        border: 1px solid #ccc; 
        border-radius: 4px;
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical 
      }
      
      /* form submit button css */
      input[type=submit] {
        background-color: white;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      
      input[type=submit]:hover {
        background-color: grey;
      }
      
     /* contact forms css  */
      .contact-forms {
        border-radius: 5px;
        background-color: none;
        padding: 20px;
      }
   /* for contact forms label */
      .contact-forms label{
        color: white;
      }

      .home-content{
        text-align: center;
        justify-content: center;
        color: white;
        padding: 10px;
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }


      .home-content li {
        display: inline-block;
        padding: 15px;
        border-radius: 5px;
        background-color: black;
        color: white;
      }

      .home-content li:hover{
        color: red;
      }

      .home-content a{
        text-decoration: none;
      }

      /* .home-content a:hover{

        background-color: none;
        color: red;
      } */

      .content-grid{
        border-radius: 5px;
        background: linear-gradient(white, black);
        color: black;
        justify-content: center;
        text-align: center;
      }
/*  } */

